body {
background-image: url(imgs/background.png);
background-size: cover;
position: fixed;

}

.sidebar {
	position: absolute;
	left: -345px;
	top: -55px;
}



.bar1 {
	position: absolute;
	left: 150px;
	top: 650px;
}

.bar2 {
	position: absolute;
	left: 300px;
	top: 650px;
}

.bottle {
	position: absolute;
	left: 700px;
	top: 0px;
}
.bar3 {
	position: absolute;
	left: 450px;
	top: 650px;
}

h1 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: 90px;

}

h2 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: -110px;
}
h3 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: -310px;
}
h4 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: -510px;
}
h5 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: -710px;
}
h6 {
	font-family: arial;
	font-size: 30px;
	margin: 50px;
  padding: 80px;
  position: relative;
  left: 80px;
  top: -910px;
}

a {
	position: relative;
	top: 0px;
	left: 65px;
	font-family: arial;
	font-size: 50px;

}
